@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Exo 2";
    text-align: center;
    color:white;
}

#particles-js{
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(90deg, #4E54C8 0%, #8F94FB 100%), #4E54C8;
}

.section-programm {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    max-width: 80%;
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}


body {
   /* position: absolute;*/
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    width: 100%;
     background: linear-gradient(90deg, #4E54C8 0%, #8F94FB 100%), #4E54C8;
}


.title{
    font-size: 7vw;
}

.subtitle{
    font-size: 4vw;
}

.main-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 3rem;
}

.header{
    margin-bottom: 5rem;
    box-sizing: border-box;    
}

.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.125rem solid #191F82;
    box-sizing: border-box;
    border-radius: 0.75rem;

    padding: 0.5rem 2.5rem;

}

.copyright {
    
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.8125rem;
    color: #5C5C5C;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-networks{
    margin-left: 1.5rem;
}

.image {
    background-image: url("brain.png");
    border-radius: 1.25rem;
    align-items: center;
    width: 47.5%;
    height: 21.25rem;
    margin-left: 5%;
    background-position: center center;
    background-size: cover;
    
    background-color: black;

    position: relative;
}

.form {
    width: 47.5%;
    box-sizing: border-box;
}

#value{
    width: 100%;
    height: 15rem;
    margin-bottom: 1.875rem;
    resize: none;
    text-align: left;
    font-size: 1.25rem;
    color: #B1AFAF;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: normal;
    line-height: 1.375rem;
    border-radius: 1.25rem;
    padding: 20px;
    background: #F4F4F4;
    border: 2px solid #191F82;
    box-sizing: border-box;
}

.action-in-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: #000000;
}

/*
.select{
    position: relative;
    width: 65%;
    min-width: 16.5rem;
    height: 4.375rem;
}



.button {
    width: 40%;
    height: 4.375rem;
    background-color: #191F82;
    outline: none;
    margin-left: 1.25rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.125rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  }
  
  .button:hover {
    border: 0.125rem solid transparent;
    font-weight: bold;
    background-color: #191F82;
    color: #fff;
    transition-delay: 0;
    transition: all 0.5s;
  }
  
  .button:active {
      border: 0.125rem solid transparent;
      font-weight: bold;
      background-color: #191F82;
      color: #fff;
      transition-delay: 0;
      transition: all 0.5s;
    }
  
  .button[disabled] {
    position: relative;
    color: #fff;
    background: #43464b;
    cursor: not-allowed;
  }



option {
    text-align: left;
    font-size: 1.25rem;
    color: black;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: normal;
    line-height: 1.375rem;

    display: flex;
    flex-flow: row wrap;
}

.select-header {
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 0.125rem solid  #191F82;
    border-radius: 0.625rem;
    padding: 0.9375rem 1.3125rem;
    cursor: pointer;
}

.select-body {
    background: #FFFFFF;
    border: 2px solid #191F82;
    box-sizing: border-box;
    border-radius: 0.625rem;
    border-top: 0;
    padding: 1rem 0.8rem;
    background: #fff;

    display: none;
    position: absolute;
    z-index: 100000;
    left: 0;
    right: 0;
    top: 100%;

    display: flex;
    flex-flow: column wrap;
}

.select-img-absoluteBottom {
    position: absolute;
    top: 35%;
    right: 7%;
}
  
.select-img-absoluteTop {
    position: absolute;
    right: 6%;
    top: 10%;
  
    z-index: 1;
}

.select-option{
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    margin-bottom: 0.875rem;
    border-bottom: 2px solid #fff;
    padding: 0.3rem;
}

.select-text {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    padding-left: 1.1rem;
    vertical-align: top;

}

.select-option:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }
*/

.c-antiPlagiarism__button {
  width: 40%;
  height: 4.375rem;
  background-color: #191F82;
  outline: none;
  margin-left: 1.25rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}

.c-antiPlagiarism__button:hover {
  border: 0.125rem solid transparent;
  font-weight: bold;
  background-color: #191F82;
  color: #fff;
  transition-delay: 0;
  transition: all 0.5s;
} 

.c-antiPlagiarism__button:active {
    border: 0.125rem solid transparent;
    font-weight: bold;
    background-color: #191F82;
    color: #fff;
    transition-delay: 0;
    transition: all 0.5s;
  }

.c-antiPlagiarism__button[disabled] {
  position: relative;
  color: #fff;
  background: #43464b;
  cursor: not-allowed;
}


.c-antiPlagiarism__configuration {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .c-antiPlagiarism__button {
    width: 40%;
    height: 4.375rem;
    background-color: #191F82;
    outline: none;
    margin-left: 1.25rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    font-size: 1.75rem;
    color: #fff;
  }

  
  
  .antiPlagiarism-main-img {
    background-color: black;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    width: 97%;
    height: 100%;
    margin-left: 1rem;
  }
  
  .antiPlagiarism__img {
    display: block;
    height: auto;
  }
  
  .antiPlagiarism_footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    border: 2px solid #191F82;
    border-radius: 10px;
    padding: 1.5625rem 2.5rem 1rem 2.5rem;
  }
  
  .antiPlagiarism-footer-social_media{
    display: flex;
  }
  
  .antiPlagiarism-footer-authors {
    margin-left: 4.5rem;
  }
  
  .antiPlagiarism-footer-text {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #5c5c5c;
  }
  
  .antiPlagiarism-footer-social_media-links {
    margin-left: 1.5rem;
  }
  
  .antiPlagiarism__icon {
    max-width: 100%;
    height: auto;
  }
  
  .c-select {
    position: relative;
    width: 60%;
    min-width: 16.5rem;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
  }
  
  .is-active {
    display: block !important;
  }
  
  .c-select__header {
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 0.125rem solid #191F82;
    border-radius: 0.625rem;
    padding: 0.9375rem 1.3125rem;
    cursor: pointer;
  }
  
  .c-select__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #000000;
    padding-left: 1.1rem;
    vertical-align: top;
  }
  
  .c-select__img {
    max-width: 100%;
    height: auto;
  }
  
  .c-select__img--absoluteBottom {
    position: absolute;
    top: 35%;
    right: 7%;
  }
  
  .c-select__img--absoluteTop {
    position: absolute;
    right: 6%;
    top: 10%;
  
    z-index: 1;
  }
  
  .c-select__body {
    display: none;
    position: absolute;
    z-index: 100000;
    left: 0;
    right: 0;
    top: 100%;
    border: 0.125rem solid #191F82;
    border-top: 0;
    border-radius: 0.625rem;
    padding: 1rem 0.8rem;
    background: #fff;
  }
  
  .c-select__option {
    cursor: pointer;
    text-align: left;
    margin-bottom: 0.875rem;
    border-bottom: 2px solid #fff;
    padding: 0.3rem;
    
  }
  
  .c-select__option:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }

/*size images*/
.select-img{
    margin-left: 1.125rem;
    margin-top: 0.5625rem;
    max-width: 100%;
    height: auto;
}

.select-img-arrow{
    width: 30px;
    height: 15px;
}

.img-un{
    width: 40px;
    height: 35px;
}

.img-rep{
    width: 36px;
    height: 36px;
}

.img-mis{
    width: 36px;
    height: 30px;
}

.img-val{
    width: 34px;
    height: 34px;
}

.result{
  color: #f3f3f3;
  font-size: 5rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  text-align: center;
}

.opacity {
  opacity: .4;
}

@media (max-width: 960px) {

    .section-programm{
        flex-flow: column wrap;
        width: 100%
    }

    .form{
        width: 100%;
    }

    .image{
        width: 100%;
        height: 21.25rem;
        order: -1;
        margin-bottom: 2rem;
        margin-left: 0%;
    }

    .footer{
        flex-flow: column wrap;
    }
}

@media (max-width: 490px) {
    .c-antiPlagiarism__button{
        width: 100%;
        margin-left: 0%;
    }

    .c-select{
        width: 100%;
        margin-bottom: 1rem;
    }

    .footer{
        padding: 0;
        align-items: center;
    }

    .title{
        font-size: 10vw;
    }
    
    .subtitle{
        font-size: 7vw;
    }

    .c-antiPlagiarism__configuration{
        flex-direction: column;
    }
}
